@using TaCoMoLoCo_Express.Model
@model TaCoMoLoCo_Express.Model.UsuarioLogin

<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Registrate
                </div>
                <div class="card-body">
                    <form asp-for="Login" asp-action="RegistrarNuevoUsuario" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Cédula" required asp-for="informacion_usuario.Cedula" />
                        <input class="form-control mb-3" type="text" placeholder="Primer Nombre" required asp-for="informacion_usuario.Nombre1" />
                        <input class="form-control mb-3" type="text" placeholder="Segundo Nombre" asp-for="informacion_usuario.Nombre2" />
                        <input class="form-control mb-3" type="text" placeholder="Primer Apellido" required asp-for="informacion_usuario.Apellido1" />
                        <input class="form-control mb-3" type="text" placeholder="Segundo Apellido" asp-for="informacion_usuario.Apellido2" />
                        
                        <select class="form-control mb-3" required asp-for="informacion_usuario.IdRol" asp-items="Html.GetEnumSelectList<EnumRol>()">
                            <option value="">Seleccione el rol</option>
                        </select>
                        
                        <input class="form-control mb-3" type="text" placeholder="Usuario" required asp-for="informacion_login.Usuario" />
                        <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="informacion_login.Contrasena" />
                        
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Registrate</button>
                        </div>
                        
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        
                        ¿Ya tiene una cuenta? <a asp-controller="Usuarios" asp-action="Registrarse">Iniciar Sesión</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
